*{
    font-family:Arial, Helvetica, sans-serif
}
body{
    background-color: black;
    color: white;
    margin-bottom: 0px;
}
div{
    padding: 10px; 
}
ul{
    list-style-position: outside;
    display: inline-block;
    text-align: left;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
    margin-top: 0;
}
a{
    color: aqua;
}
summary{
    font-size: 16px;
}
.sub{
    display: block;
}
.special-a{
    color: blue;
    text-decoration: underline;
    text-decoration-color: aqua;
}
.center{
    text-align: center;
}
.first-container{
    border: 10px, solid, rgb(237, 39, 158);
    color: black;
    background-color: bisque;
}
.second-container{
    border: 10px, solid, turquoise;
    color: black;
    background-color: bisque;
}
.third-container{
    border: 10px, solid, orange;
    color: black;
    background-color: bisque;
}
p{
    font-size: 24px;
    margin-bottom:0;
}
.special-p{
    font-size: 20px;
    font-family: monospace;
}
footer p{
    font-size: 16px;
    color: white;
}
.special-footer-p{
    font-size: 13px;
    font-family: monospace;
}
.marquee{
    width: 0%;
    white-space: nowrap;
    animation: animate 15s linear infinite;
    padding-left: 100%;
    display: inline-block;
    padding-bottom: 0%;
}

@keyframes animate{
    100%{
        transform: translate(-100%, 0);
    }
}